html{
    background-color: lightsteelblue;
    margin: 0;
    padding: 0;

}
.ul1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color:cornflowerblue;
    transition: 2s;
    border-radius: 12px;
    padding: 15px;
}
.ul1:hover {
    border-radius: 24px;
    transition: 2s;
}
.ul1 a {
    text-decoration: none;
    color: black;
    color: aliceblue;
}
.ul1 a:hover {
    color: blue;
    transition: 1s;
}
.div2 h1 {
    text-align: center;
    color: black;
    color: aliceblue;
}


.li2 {
    display: flex;
    gap: 10px;
    align-items: center;
}
.img1 {
    cursor: pointer;
    transition: transform 0.2s;
}
.img1:hover {
    transform: scale(1.2);
}
